{:mba-fiap.adapter.http.server/server
 {:env #profile {:default :dev
                 :test :test
                 :prod :prod}
  :port #long #profile {:default #or [#env HTTP_PORT 8000]}
  :join? #profile {:default true
                   :dev false}
  :app-context {:test "test"}}}
