{:mba-fiap.datasource.mongo/db
 {:spec {:uri #profile {:default "mongodb://root:example@localhost:27017/admin"
                        :test "mongodb://root:example@localhost:27017/admin"
                        :prod #env MONGO_URI}
         :db-name #profile {:default "fiap-lanchonete-pagamento"
                            :test "fiap-lanchonete-pagamento-test"
                            :prod #env MONGO_DB}
         :collection-name #profile {:default "pagamento"
                                    :test "pagamento-test"
                                    :prod #env MONGO_COLLECTION}}}

 [:mba-fiap.repository.repository/repository :repository/pagamento]
 {:repository-name :pagamento
  :connection #ig/ref :mba-fiap.datasource.mongo/db}

 [:mba-fiap.adapter.nats/nats :nats/nats]
 {:url #env NATS_URL
  :app-name #or [#env NATS_APP_NAME "pagamento"]
  :subjects-handlers {#or [#env NATS_NEW_ORDERS "lanchonete.novo-pedido"] #ig/ref :handler/novos-pedidos}}

 [:mba-fiap.usecase.processar-pagamento/novos-pedidos :handler/novos-pedidos]
 {:repository/pagamento #ig/ref :repository/pagamento
  :topic-new-payment #or [#env NATS_PUBLISH_NEW_PAYMENT "novo-pagamento"]
  :topic-update-status #or [#env NATS_PUBLISH_STATUS "status"]}


 :mba-fiap.adapter.http.server/server
 {:env #profile {:default :dev
                 :test :test
                 :prod :prod}
  :port #long #profile {:default #or [#env HTTP_PORT 8080]}
  :join? #profile {:default true
                   :test false
                   :dev false}
  :app-context {:repository/pagamento #ig/ref :repository/pagamento}}}
