{:mba-fiap.datasource.mongo/db
 {:spec {:uri #profile {:default "mongodb://root:example@localhost:27017/admin"
                        :test "mongodb://root:example@localhost:27017/admin"
                        :prod #env MONGO_URI}
         :db-name #profile {:default "fiap-lanchonete-pagamento"
                            :test "fiap-lanchonete-pagamento-test"
                            :prod #env MONGO_DB}
         :collection-name #profile {:default "pagamento"
                                    :test "pagamento-test"
                                    :prod #env MONGO_COLLECTION}}}

 [:mba-fiap.repository.repository/repository :repository/pagamento]
 {:repository-name :pagamento
  :connection #ig/ref :mba-fiap.datasource.mongo/db}

 :mba-fiap.adapter.nats/nats
 {:url #or [#env NATS_URL "nats://66.51.121.86:4222"]
  :app-name "pagamento"
  :subjects-handlers {#env NATS_NEW_ORDERS #ig/ref :handler/novos-pedidos}}

 [:mba-fiap.usecase.processar-pagamento/novos-pedidos :handler/novos-pedidos]
 {}

 :mba-fiap.adapter.http.server/server
 {:env #profile {:default :dev
                 :test :test
                 :prod :prod}
  :port #long #profile {:default #or [#env HTTP_PORT 8000]}
  :join? #profile {:default true
                   :dev false}
  :app-context {:repository/pagamento #ig/ref :repository/pagamento}}}
